body{
    background-color: #83d0c9;
}
.container{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding-top: 200px;
}
.Dbox{
    height:200px;
    width:200px;
    background-color: palevioletred;
    background-image:url('dog.jpg') ;
    background-size: cover;
    background-repeat: no-repeat;
}
.Cbox{
    height:200px;
    width:200px;
    background-color: palevioletred;
    background-image:url('cat.jpeg') ;
    background-size: cover;
    background-repeat: no-repeat;
}
.Rbox{
    height:200px;
    width:200px;
    background-color: palevioletred;
    background-image:url('rabbit.jpeg') ;
    background-size: cover;
    background-repeat: no-repeat;
}
.img{
    height:100%;
    width:100%;
    object-fit:contain;
    display: block;
}
